@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 35px;
  overflow: hidden !important;
}

body {
  overflow: hidden !important;
}

body .bg-image {
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 100vh;
}

body .bg-image img {
  width: 110%;
  height: 110%;
  -webkit-transform: translate(-1%, -1%);
          transform: translate(-1%, -1%);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

body main {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 2s ease-in-out, -webkit-filter 2s ease-in-out;
  transition: opacity 2s ease-in-out, -webkit-filter 2s ease-in-out;
  transition: opacity 2s ease-in-out, filter 2s ease-in-out;
  transition: opacity 2s ease-in-out, filter 2s ease-in-out, -webkit-filter 2s ease-in-out;
}

body main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main header img {
  width: 150px;
  height: inherit;
  border-radius: 100%;
  -webkit-box-shadow: rgba(124, 205, 221, 0.305) 0px 0px 10px 2px;
          box-shadow: rgba(124, 205, 221, 0.305) 0px 0px 10px 2px;
}

body main header h1 {
  width: 15rem;
  text-align: center;
  margin-top: 0.5em;
  border: 1px solid #fff;
  padding: 5px 12px;
  border-radius: 40px;
  color: rgba(4, 29, 30, 0.785);
  background-color: rgba(255, 255, 255, 0.504);
}

body main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 1.04em auto;
}

body main ul li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  border-radius: 30px;
  margin: 0.3em auto;
  width: 10rem;
  text-align: center;
  padding: 3px 1px;
  background-color: rgba(255, 255, 255, 0.64);
  -webkit-backdrop-filter: blur(10px) saturate(200%) contrast(150%) !important;
          backdrop-filter: blur(10px) saturate(200%) contrast(150%) !important;
}

body main ul li p {
  color: rgba(88, 31, 7, 0.652);
  font-size: 1rem;
  text-decoration: none;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  main {
    overflow: none;
  }
  main header img {
    -webkit-box-shadow: rgba(124, 205, 221, 0.305) 0px 20px 32px 10px !important;
            box-shadow: rgba(124, 205, 221, 0.305) 0px 20px 32px 10px !important;
  }
  main header h1 {
    width: 7.5rem !important;
    font-size: 20px;
    font-weight: 800;
    -webkit-backdrop-filter: blur(8px) saturate(230%) contrast(120%);
            backdrop-filter: blur(8px) saturate(230%) contrast(120%);
    padding: .2rem 0.75rem !important;
  }
  main ul {
    margin: 0.3rem !important;
  }
  main ul li {
    max-width: 200px;
  }
  main ul li p {
    font-size: 20px !important;
  }
}

.new-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.new-items {
  width: 7.5rem;
}

@media screen and (max-width: 600px) {
  .new-items {
    width: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */